body {
    background-color: #F4F4F4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.wrapper {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    box-shadow: 2px black inset;
    background-color: #fff;
    box-sizing: border-box;
}
a {}
header {
    height: 70px;
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: space-between
}
.header-element {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

form {
    width: 300px;
    margin: 0 auto;
}
.inputs {
    display: grid;
    justify-items: center;
    grid: 1fr 1fr 1fr / 1fr 1fr;
    width: 100%;
    align-items: baseline;
}
input {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#switcher {
    display: grid;
    justify-items: center;
    grid: auto / 1fr 1fr;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
#switcher div {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    cursor: pointer;
}
#switcher div span {
    display: table-cell;
    vertical-align: middle;
}
#login-switch {
    background-color: #141414;
    color: white;
}
#register-switch {
    background-color: #fff;
}
#submit {
    margin: auto;
    margin-top: 20px;
    align-self: center;
    display: block;
    border: none;
    background-color: #141414;
    color: white;
    width: 150px;
    height: 30px;
    cursor: pointer;
}